.header-bar {
    height: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
     z-index:100;
    top: 0;
    left: 0;
    right: 0;
background-color: white;
}


.left-section {
    display: flex;
    align-items: center;
   
}

.hamburger-menu-icon {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
    cursor: pointer;
}

.youtube-logo {
    height: 24px;
    cursor: pointer;

}

.middle-section {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 470px;
    margin-left: 60px;
}

.search-bar {
    height: 38px;
    flex: 1;
    width: 0;
    min-width: 0;
    border: 1px solid rgb(204, 204, 204);
    padding-left: 12px;
    font-size: 16px;
    
}

.search-button {
    border: 1px solid rgb(228, 228, 228);
    height: 40px;
    width: 60px;
    padding: 0;
    cursor: pointer;
    margin-right: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: rgb(248, 248, 248);
}

.search-icon {
    height: 24px;
}

.voice-search-button {
    height: 40px;
    width: 40pxs;
    border: none;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: rgb(248, 248, 248);
}

.voice-search-icon {
    height: 24px;

}


.right-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 182px;
    margin-right: 24px;
    margin-left: 29px;
}

.tooltip-container {
    position: relative;
    display: flex;
    justify-content: center;
}
.icons {
    height: 24px;
    cursor: pointer;
}