.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
    row-gap: 22px;
    padding: 20px;
    margin-top: 60px;
}

@media (min-width: 870px) and (max-width: 1124px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1125px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr; /* 4 columns for larger screens */
    }
}



.video-card {
    border: none;
    display: block;
    padding: 4px;
}

.video-thumbnail {
    position: relative;
    display: block;
}

.thumbnail-1 {
    width: 100%;
    cursor: pointer;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 48px 1fr;
}


.channel-1 {
    width: 36px;
    border-radius: 36px;
    margin-top: 8px;
    cursor: pointer;
}



.video-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 8px;
    cursor: pointer;
    margin-bottom: 0px;
    width: 100%;

}

.video-author {
    color: rgb(96 96 96);
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.video-stats {
    margin-top: 4px;
    font-size: 12px;
    color: rgb(96 96 96);

}